<template>
  <q-page class="flex flex-center">
    <q-page-sticky position="top-right" :offset="[18, 18]">
      <q-avatar size="100px">
        <img src="https://s.gravatar.com/avatar/cb3b6e7f9daeb1ef96502a9540a1a689?s=80" alt="Lucas Guzmán" />
      </q-avatar>
    </q-page-sticky>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab
        label="Contáctame"
        label-position="right"
        icon="keyboard_arrow_left"
        direction="left"
        color="primary"
        text-color="white"
      >
        <q-fab-action
          href="mailto:lucasgasguzman@gmail.com"
          color="secondary"
          text-color="white"
          icon="mail" />
        <q-fab-action
          href="tel:2966686712"
          target="_blank"
          color="secondary"
          text-color="white"
          icon="phone_enabled" />
          <q-fab-action
          href="https://api.whatsapp.com/send?phone=5492966686712&text=Hola Lucas! Vi tu CV y necesito contactarte..."
          target="_blank"
          color="secondary"
          text-color="white"
          icon="fab fa-whatsapp" />
      </q-fab>
    </q-page-sticky>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
};
</script>
