<template>
  <div id="q-app">
    <router-view />
  </div>
</template>
<script>
export default {
  name: 'App',
};
</script>
<style lang="sass">
  .q-page
    background: #211915
    z-index: 1
    &:after
      content: ''
      display: block
      position: fixed
      left: 0
      right: 0
      top: 0
      bottom: 0
      z-index: -1
      opacity: 0.3
      background: radial-gradient(black 15%, transparent 16%) 0 0,radial-gradient(black 15%, transparent 16%) 8px 8px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px
      background-size:16px 16px
</style>
